Checks: >
  include-cleaner-*,
  google-readability-casting,
  readability-isolate-declaration,
  readability-function-size

WarningsAsErrors: >
  include-cleaner-*,
  google-readability-casting,
  readability-isolate-declaration,
  readability-function-size

CheckOptions:
  - key: readability-function-size.StatementThreshold
    value: "40"
  - key: readability-function-size.ParameterThreshold
    value: "4"
