name: Clang-Tidy

on: [push, pull_request]

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Clang-Tidy
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy

      - name: Run clang-tidy
        run: |
          # Find all C/C++ files tracked by git
          FILES=$(git ls-files '*.c' '*.cpp' '*.h' '*.hpp', ':(exclude)*tests/*')
          for f in $FILES; do
            echo "Checking $f"
            clang-tidy "$f" --warnings-as-errors=* -- -std=c99
          done
